$bg-color: #B9090B;
$font-color: #FFFFFF;

body {
	background-image: url("../../images/bg-body.jpg");
	background-attachment: fixed;
	background-color: $bg-color;
	color: $font-color;
	margin-bottom: 0;

	h1 {
    	font-size: 30px;
	}

	header {

		margin: 5px 10px;
		background-color: $bg-color;
	    box-shadow: 0 1px 6px black;
	    font-size: 13px;
	    left: 0;
	    min-height: 70px;
	    min-width: 900px;
	    position: fixed;
	    right: 0;
	    z-index: 100;

		#logo {
			width: 250px;
			height: 80px;
			float: left;
			background: transparent url("../../images/nf-logo.png");
			margin: 5px;
		}
	}

	article {

	    clear: both;
	    display: block;

		#wrapper {
		width: 900px;
		top: 120px;
		left: 0;
		margin: auto;
		position: relative;

			#login-box {
				width: 220px;
				min-height: 100px;
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 10px;
				padding: 10px;
			}


			.list_carousel {

				width: 900px;
				background-color: transparent;
			    display: block;
			    margin: 0;
			    overflow: hidden;
			    position: relative;
				font-size: 20px;
				float: left;
				z-index: 0!important;

				a {
					color: $font-color;
					text-decoration: none;
				}
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					display: block;

					li {
						width: 100px;
						height: 140px;
						font-size: 40px;
						padding: 6px 0 0;
						margin: 6px;
						border: 5px solid #999;
						display: inline-block;
						float: left;
						vertical-align: bottom;
						color: #999;
						text-align: center;
						background-color: #eee;
					}
				}

				.caroufredsel_wrapper {
					z-index: -1!important;
					margin-left: 55px!important;
				}
				.responsive {
					width: auto;
					margin-left: 0;
				}

				.clearfix {
					float: none;
					clear: both;
				}

				.arrow {
					background-color: rgba(0, 0, 0, 0.8);
				    border-radius: 10px;
				    height: 36px;
				    margin: -162px 0 0 61px!important;
				    padding: 60px 15px;
				    z-index: 2!important;
				    font-size: 28px;
				    cursor: pointer;
				}
				.prev {
					float: left;
					margin-left: 10px;
				}

				.next {
					float: right;
					margin-right: 10px;
				}

				.pager {
					display: block;
					text-align: center;
					
					a {
						color: #000000;
						margin: 0 5px;

						.selected {
							text-decoration: underline!important;
						}
					}
				}
			}

			.content-collection {
				width: 100%;
				min-height: 100px;
				height: 100%;
			}

			.slogan {
				width: 100%;
				height: auto;
				padding: 5px 0;
	    		outline: 0 none;
				bottom: 0px;
				background-color: rgba(0, 0, 0, 0.8);
				font-size: 18px;
				text-align: center;
				border-radius: 10px;
			}
		}	
	}
	

	footer {
		width: 98%;
		height: auto;

		position: fixed;
		bottom: 0px;
		margin-top: 20px;
		color: $font-color;
		font-size: 12px;
		display: block;
		clear: both;
		text-align: center;
		background-color: #000;
		padding: 10px;
		
	}

}
